body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 16px 128px;
    
}

ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin: 0px;
    padding: 0px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    padding: 0px;
}

.boxOne {
    padding: 64px 128px;
    height: 400px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.heroText {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.subText {
    font-size: 18px;
    color: #e5e7eb;
}

.left {
    flex: 1;
}

.right {
    width: 800px;
    height: auto;
    border-radius: 8px;
    flex: 1;
}

.boxTwo {
    padding: 64px 128px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: flex;
    gap: 16px
}

.boxThree {
    background-color: #E5E7EB;
    padding: 64px 128px;
    height: 400px;
}

.boxFour {
    padding: 64px 128px;
    height: 400px;
}